{% extends 'base.html' %}

{% block title %}YaCut - укоротитель ссылок{% endblock title %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center">
    <span style="color:red">Ya</span>Cut
  </h1>
  <p class="text-center my-4">
    Создайте короткую ссылку автоматически или предложите свой вариант
  </p>
  <div class="container">
    <div class="row my-3">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form method="POST" novalidate>
          <div>
            {% include 'includes/form_fields.html' %}
            <input type="submit" class="btn btn-primary" value="Создать">
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        {% include 'includes/messages.html' %}
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</section>
{% endblock content %}
